.overflow-x {
  overflow-y: hidden;
  overflow-x: scroll;
}

.overflow-y {
  overflow-x: hidden;
  overflow-y: scroll;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

ul,
li {
  list-style-type: none;
  padding-inline-start: 0;
}

a,
a:hover,
a:focus {
  text-decoration-line: none;
}

button,
button:hover,
button:focus {
  outline: none;
  box-shadow: none;
}

input,
input:hover,
input:focus {
  outline: none;
}
input::-moz-placeholder, input:hover::-moz-placeholder, input:focus::-moz-placeholder {
  color: #99b0bc;
}
input::placeholder,
input:hover::placeholder,
input:focus::placeholder {
  color: #99b0bc;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}
textarea::-moz-placeholder {
  color: #99b0bc;
}
textarea::placeholder {
  color: #99b0bc;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#menu button {
  height: 100%;
  aspect-ratio: 8/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menu button p {
  margin-bottom: 0;
  font-weight: bold;
}
#menu nav button {
  aspect-ratio: 9/4;
  border-right: 1px solid rgb(243, 244, 246);
}
#menu nav button:last-child {
  border-right: none;
}

.ban-item {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.ban-item::before {
  content: "";
  width: 100%;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: green;
  border-radius: 5rem;
  z-index: 0;
}
.ban-item::after {
  content: "";
  width: 1.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
  border-radius: 5rem;
  z-index: 0;
}
.ban-item .wrap {
  width: 6rem;
  aspect-ratio: 1/1;
  background-color: #fff;
  border-width: 3px;
  border-style: solid;
  border-color: green;
  outline: 2px solid #fff;
  border-radius: 0.5rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: green;
  font-size: 1.5rem;
}
.ban-item.co-khach::before, .ban-item.co-khach::after {
  background-color: red;
}
.ban-item.co-khach .wrap {
  color: red;
  border-color: red;
}
.ban-item.chon-ban::before, .ban-item.chon-ban::after {
  background-color: orange;
}
.ban-item.chon-ban .wrap {
  color: orange;
  border-color: orange;
}

#bao_cao_main table {
  text-align: center;
}
#bao_cao_main table th,
#bao_cao_main table td {
  padding: 0.5rem;
}
#bao_cao_main table th:first-child,
#bao_cao_main table td:first-child {
  text-align: left;
}
#bao_cao_main table th:last-child,
#bao_cao_main table td:last-child {
  text-align: right;
}
#bao_cao_main table thead,
#bao_cao_main table tfoot {
  border-bottom: 1px solid rgb(243, 244, 246);
}
#bao_cao_main table tbody tr {
  border-bottom: 1px solid rgb(243, 244, 246);
}

.slider {
  background-color: rgba(255, 255, 255, 0.168627451);
  border-radius: 100px;
  padding: 1px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  align-items: center;
  position: relative;
  display: block;
  width: 51px;
  height: 29px;
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset, #22cc3f 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.slider::after {
  content: "";
  display: flex;
  top: 2.3px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #e3e3e3;
  border-radius: 200px;
  position: absolute;
  box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
  transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  will-change: left, background-color;
}

.switch input[type=checkbox]:checked + .slider {
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, #22cc3f 0px 0px 0px 2px inset, #22cc3f 0px 0px 0px 24px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.switch input[type=checkbox]:checked + .slider::after {
  left: 24px;
}

.switch input[type=checkbox] {
  display: none;
}